:root {
  --primary: #6b5380;
  --p-dark: #604b74;
  --p-light: #8c7aad;
  --gradient: linear-gradient(135deg, rgba(0,0,0,0),rgba(0,0,0,.1));
}

html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  color: #28272b;
}

.navbar {
  width: 100%;
  height: 50px;
  background: var(--primary);
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.nav-container {
  height: 100%;
  width: 95%;
  margin: auto;
}

.nav-menu {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-menu a {
  padding: 10px 10px;
  border: 1px var(--p-light);
  background-image: var(--gradient);
  border-style: solid;
  border-radius: 2px;
  text-decoration: none;
  color: white;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.nav-menu a:hover {
  background: var(--p-dark);
  transform: scale(1.05);
  border: 1px var(--p-light);
  border-style: solid;
  border-radius: 2px;
}

#header-1 {
  margin-top: 50px;
  height: 50vh;
}

#header-2 {
  height: 300px;
}

.header-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#header-1 .header-container {
  background-image: url(/img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header-2 .header-container {
  background-image: url(/img/header2.jpg);
}

#section {
  background: white;
}

.article {
  max-width: 1220px;
  margin: 40px;
}

.article:first-child:first-letter {
  float: left;
  font-family: Georgia;
  font-size: 5em;
  line-height: 45px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.section-container {
  margin: auto;
  width: 98%;
  max-width: 1220px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
}

.card-container {
  padding-bottom: 50px;
  padding-top: 50px;
  max-width: 100%;
}

.card {
  border: solid white 10px;
  border-radius: 5px;
  text-align: center;
  background: white;
  -webkit-box-shadow: 3px 2px 38px -3px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 3px 2px 38px -3px rgba(0, 0, 0, 0.06);
  box-shadow: 3px 2px 38px -3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

.card-small {
  width: 350px;
}

.card-wide {
  width: 500px;
}

.card-full {
  width: 750px;
}

.card-image {
  background: grey;
  width: 100%;
  height: 150px;
  background-position: center;
  background-size: cover;
}

.card-wide .card-image {
  height: 250px;
}

.card-full .card-image {
  height: 400px;
}

.card-text {
  height: 180px;
}

.card-text h2 {
  font-weight: 400;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0;
  align-self: flex-start;
}

.card-text p {
  text-align: left;
  max-height: 125px;
  padding: 10px;
  margin: 0px;
  overflow: hidden;
}

.card-button {
  border: none;
  background-image: var(--gradient);
  border-radius: 2px;
  padding: 1em;
  margin-top: 10px;
  text-decoration: none;
  background-color: var(--p-light);
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.card-button:hover,
.card-button:focus {
  background: var(--p-dark);
}

.card-button:focus {
  outline: 0;
}

.card-button:active {
  transform: scale(1.1);
}

footer {
  padding: 10px 0px 10px 0;
  text-align: center
}

footer p {
  margin: 10px 0 0 0;
  font-size: .75em;
}

.footer-icon {
  color: var(--p-dark);
}

.img-1 {
  background-image: url(/img/scape1.jpg);
}

.img-2 {
  background-image: url(/img/scape2.jpg);
}

.img-3 {
  background-image: url(/img/scape3.jpg);
}

.img-4 {
  background-image: url(/img/scape4.jpg);
}

.img-5 {
  background-image: url(/img/scape5.jpg);
}

.img-6 {
  background-image: url(/img/scape6.jpg);
}

@media screen and (max-width: 770px) {
  .card-container {
    width: 100%;
  }
  
  .card-small {
    width: 75%;
    margin: auto;
  }
  
  .card-wide, .card-full {
    width: 100%;
  }  
}

@media screen and (max-width: 374px) { 
  .card-small {
    width: 100%;
  }

  .nav-container {
    width: 95%;
  }

  .nav-menu a {
    padding: 10px 5px;
}